@media (width >= 80em) {
  img#profile-img {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
  }

  & .profile-info {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  & p {
    max-width: 384px;
  }
  & .section-info {
    display: flex;
    align-items: center;
    padding: 32px; 
  }

  & ul {
    min-width: 280px;
    margin-left: auto;
  }
}

h1 {
  margin-bottom: 0.5rem;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}