.logo-img {
  margin-right: auto;
}

.search-img {
  background-image: url(../assets/icons/search-icon.svg);
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;

  &.search-img:hover {
    background-image: url(../assets/icons/search-hover-icon.svg);
  }
}

.hover:hover {
  color: var(--brand-color);
  text-decoration:underline;
}

.profile-img {
  margin-right: 1rem;
}

@media (width >= 80em) {
  .profile-img {
    margin-right: 2rem;
  }
}

@media (width >= 80em) {
  #margin {
    margin-inline: 32px;
  }

  .profile-img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
}