#main-img {
  width: 328px;
  height: 328px;
  object-fit: cover;
  border-radius: 3%;
}

.main {
  display: grid;
  justify-content: center;
  gap: 1rem;
}

@media (width >= 80em) {
  #main-img {
    width: 286px;
    height: 286px;
    object-fit: cover;
    border-radius: 3%;
  }

  & #main-img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  & .main {
    display: grid;
    grid-template-columns: repeat(4, 286px);
    gap: 24px;
  }

  & .py-bs {
    padding-block: var(--py-lg);
  }
}